@*@model IEnumerable<LMS_mastery.Models.DTOsView.TeacherRoster>*@
@model LMS_mastery.Models.DTOsView.ClassRosterModel

@{
    ViewBag.Title = "Class";
}

<h2>Class Roster</h2>
<!--Small button bar that allows teacher to go to different areas in the website-->
<div class="Links">
    <div class="btn-group" style="margin: 9px 0 5px;">
        @Html.ActionLink("Class Information", "Edit", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
        @Html.ActionLink("Roster", "Class", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
        @Html.ActionLink("Gradebook", "GradebookView", "Gradebook", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
    </div>
</div>
@if (Model.Roster.Count() > 0 && Model != null)
{
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover table-striped">
                <tr>
                    <th>
                        First name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        User Name
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Roster)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete", "Teacher", FormMethod.Post))
                            {
                                @Html.Hidden("UserId", item.UserId)
                                @Html.Hidden("ClassId", item.ClassId)
                                <button class="glyphicon glyphicon-trash"></button>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <fieldset>
                <legend>Add Student</legend>
                <div class="row">
                    @using (Html.BeginForm("Class", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { role = "form" }))
                    {
                        <div class="col-sm-6">
                            <h4>Last Name</h4>

                            @Html.TextBoxFor(m => m.SearchRequest.LastName, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-4">
                            <h4>Grade Level</h4>

                            @Html.DropDownListFor(m => m.SearchRequest.GradeLevel, new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "1", Value = "1"},
                                new SelectListItem() {Text = "2", Value = "2"},
                                new SelectListItem() {Text = "3", Value = "3"},
                                new SelectListItem() {Text = "4", Value = "4"},
                                new SelectListItem() {Text = "5", Value = "5"},
                                new SelectListItem() {Text = "6", Value = "6"},
                                new SelectListItem() {Text = "7", Value = "7"},
                                new SelectListItem() {Text = "8", Value = "8"},
                                new SelectListItem() {Text = "9", Value = "9"},
                                new SelectListItem() {Text = "10", Value = "10"},
                                new SelectListItem() {Text = "11", Value = "11"},
                                new SelectListItem() {Text = "12", Value = "12"},
                            },
                                "----", new { @class = "form-control" })

                        </div>

                        <div class="col-sm-1">
                            <br />
                            <br />
                            <button class="btn btn-primary">Search</button>
                        </div>
                    }
                </div>
                <br />
                <div class="row">
                    @foreach (var request in Model.SearchResults)
                    {
                        <ul class="list-group">
                            <li class="list-group-item" style="font-size: 19px">
                                <span class="badge" style="font-size: 19px">@request.GradeLevel</span>

                                @request.FirstName   @request.LastName
                                @using (Html.BeginForm("AddStudent", "Teacher", FormMethod.Post))
                                {
                                    @Html.Hidden("UserId", request.UserId)
                                    @Html.Hidden("ClassId", ViewContext.RouteData.Values["id"])
                                    <button class="glyphicon glyphicon-plus plusSign"></button>
                                }
                            </li>
                        </ul>
                    }
                </div>

            </fieldset>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1>No Students</h1>
                <p>Add an available student on the right to your course and you will see your student list here. </p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <fieldset>
                <legend>Add Student</legend>
                <div class="row">
                    @using (Html.BeginForm("Class", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { role = "form" }))
                    {
                        <div class="col-sm-6">
                            <h4>Last Name</h4>

                            @Html.TextBoxFor(m => m.SearchRequest.LastName, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-4">
                            <h4>Grade Level</h4>

                            @Html.DropDownListFor(m => m.SearchRequest.GradeLevel, new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "1", Value = "1"},
                                new SelectListItem() {Text = "2", Value = "2"},
                                new SelectListItem() {Text = "3", Value = "3"},
                                new SelectListItem() {Text = "4", Value = "4"},
                                new SelectListItem() {Text = "5", Value = "5"},
                                new SelectListItem() {Text = "6", Value = "6"},
                                new SelectListItem() {Text = "7", Value = "7"},
                                new SelectListItem() {Text = "8", Value = "8"},
                                new SelectListItem() {Text = "9", Value = "9"},
                                new SelectListItem() {Text = "10", Value = "10"},
                                new SelectListItem() {Text = "11", Value = "11"},
                                new SelectListItem() {Text = "12", Value = "12"},
                            },
                                "----", new { @class = "form-control" })

                        </div>

                        <div class="col-sm-1">
                            <br />
                            <br />
                            <button class="btn btn-primary">Search</button>
                        </div>
                    }
                </div>
                <br />
                <div class="row">
                    @foreach (var request in Model.SearchResults)
                    {
                        <ul class="list-group">
                            <li class="list-group-item" style="font-size: 19px">
                                <span class="badge" style="font-size: 19px">@request.GradeLevel</span>

                                @request.FirstName   @request.LastName
                                @using (Html.BeginForm("AddStudent", "Teacher", FormMethod.Post))
                                {
                                    @Html.Hidden("UserId", request.UserId)
                                    @Html.Hidden("ClassId", ViewContext.RouteData.Values["id"])
                                    <button class="glyphicon glyphicon-plus"></button>
                                }
                            </li>
                        </ul>
                    }
                </div>

            </fieldset>
        </div>
    </div>

}
@section scripts{

    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "positionClass": "toast-bottom-full-width",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.info('@TempData["message"]');
            });
        </script>
    }
    @if (TempData["studentMessage"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "positionClass": "toast-bottom-full-width",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.info('@TempData["studentMessage"]');


            });
        </script>
    }
    <script>
        $(document).ready(function () {
            $('.plusSign').mouseenter(function () {
                $(this).animate({
                    height: '+=10px',
                    width: '+=10px'
                });
            });
            $('.plusSign').mouseleave(function () {
                $(this).animate({
                    height: '-=10px',
                    width: '-=10px'
                });
            });
            $('.plusSign').click(function () {
                $(this).toggle(1000);
            });
        });
    </script>
}