@using LMS_mastery.Models.DTOsView
@model IEnumerable<LMS_mastery.Models.DTOsView.TeacherDashboard>

@{
    ViewBag.Title = "Index";
}
@section TeacherDashboard
{
    <link href="~/Content/TeacherDashboard.css" rel="stylesheet" />
}
<h2>Teacher Dashboard</h2>
<br /><br />
<h4>My Classes</h4>
<div class="row" ng-app="SummaryModule">
    <div class="col-sm-12">
        <fieldset ng-controller="SummaryCtrl">
            <div class="row">
                <div class="col-sm-3">
                    @Html.ActionLink("Add Class", "AddClass", "Teacher", new { @class = "btn btn-primary" })
                </div>
                <div class="col-sm-5">

                </div>
                <div class="col-sm-2">
                    <button class="btn" ng-class="{'btn-primary': currentSelected}" ng-click="selectCurrent(true)">Current (@Model.Count(c => !c.IsArchived))</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn" ng-class="{'btn-primary': !currentSelected}" ng-click="selectCurrent(false)">Archived(@Model.Count(c => c.IsArchived))</button>
                </div>
            </div>
            
            <br/>
            <table class="table" ng-show="currentSelected">
                <tbody id="fontSize">
                    @foreach (var summary in Model.Where(s => !s.IsArchived))
                    {
                        <tr ng-click="gotoClass('@Url.Action("Class", "Teacher", new{id = summary.ClassId})')" id="tablesChange">
                            <td>@summary.Name</td>
                            <td>Students(@summary.NumberOfStudents)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table" ng-hide="currentSelected">
                <tbody id="fontSize">
                    @foreach (var summary in Model.Where(s => s.IsArchived))
                    {
                        <tr ng-click="gotoClass('@Url.Action("Class", "Teacher", new{id = summary.ClassId})')" id="tablesChange">
                            <td>@summary.Name</td>
                            <td>Students(@summary.NumberOfStudents)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script>
        var summary = angular.module('SummaryModule', []);

        summary.controller('SummaryCtrl', function ($scope) {
            $scope.currentSelected = true;

            $scope.selectCurrent = function (value) {
                $scope.currentSelected = value;
            };
            $scope.gotoClass = function (url) {
                window.location = url;
            };
        });
    </script>

    <script>
        //$(document).ready(function() {
        //    $('.moveRight').css("color", "red", "!important");
        //});

        //$('.moveRight').css('cssText', 'text-align: right !important');

    </script>
}


