@model LMS_mastery.UI.Models.AddAssignment
@{
    ViewBag.Title = "AddAssignment";
}

<h2>Add Assignment</h2>
<div class="btn-group" style="margin: 9px 0 5px;">
    <!--Small button bar that allows teacher to go to different areas in the website-->
    @Html.ActionLink("Class Information", "Edit", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
    @Html.ActionLink("Roster", "Class", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
    @Html.ActionLink("Gradebook", "Gradebook", "Course", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
</div>
@using (Html.BeginForm("AddAssignment", "Course", FormMethod.Post, new { role = "form" }))
{
    <!--Pass in the ClassId-->
    @Html.HiddenFor(m=>m.ClassId)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    
        <hr />
        @Html.ValidationSummary(true)
        
        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PossiblePoints, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PossiblePoints)
                @Html.ValidationMessageFor(model => model.PossiblePoints)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate)
                @Html.ValidationMessageFor(model => model.DueDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="col-sm-7 text-right">
            @Html.ActionLink("Cancel", "Gradebook", "Course", null, new { @class = "btn btn-default" })

            <button class="btn btn-primary">Save Record</button>
        </div>
    </div>
}