@model IEnumerable<LMS_mastery.Models.DTOsView.GradebookView>
@{
    ViewBag.Title = "GradebookView";
}

<h2>Gradebook View</h2>

<div class="Links">
    <div class="btn-group" style="margin: 9px 0 5px;">
        <!--Small button bar that allows teacher to go to different areas in the website-->
        @Html.ActionLink("Class Information", "Edit", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
        @Html.ActionLink("Roster", "Class", "Teacher", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
        @Html.ActionLink("Gradebook", "GradebookView", "Gradebook", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @type = "button" })
    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Last Name</strong></td>
            <td><strong>Grade</strong></td>
            @foreach (var assignment in Model)
            {
                <td><strong>@assignment.Name</strong></td>
            }
            
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.LetterGrade</td>
                <td>@student.Percent %</td>
            </tr>

        }
    </table>
</div>
